
<form action="/sign-up" method="POST" onsubmit="return false;">
  <input type="text" size="30" value="" placeholder="username" required>
  <input type="password" size="30" value="" placeholder="password" required>
  <input type="submit" value="Sign In" onclick="signupViaAjax()">
</form>
